<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>You have requested password change, <%= @user.name %></h1>
<p>
  Follow the given link to change password.
</p>
<%= link_to "reset password", edit_password_reset_url(@token, user: { email: @user.email }) %>
<p>If you didn't request password change ignore this mail.</p>
</body>
</html>