<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<% provide(:url, signup_path) %>

<div class="row">
  <div class="center">
    <h1>Sign up</h1>
    <%= render 'form' %>
  </div>
</div>
