<%= form_for [@post, @comment] do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: yield(:placeholder_text) %>
  </div>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
